 /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  

  /* Style the back side */
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  } 

  /* dotted and vertical line */
 
  .line {
    border-left: 2px solid green;
    height: 200px;
    position: relative;
    left: 50%;
    margin-left: -2px;
    top: -1%;
    /* Adjust line width as needed */
  }
  
  .dot {
    width: 10px; /* Adjust dot size as needed */
    height: 10px; /* Adjust dot size as needed */
    border-radius: 50%;
    background-color: green; /* Adjust dot color as needed */
  }

.experience-1 {
  margin-left: 20px;
}
.experience-1 h2{
  white-space: nowrap;
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
}
.experience-1 p{
  white-space: nowrap;
  font-size: 20px;
  font-weight: bold;
}
.experience-1 h3{
  white-space: nowrap;
  margin-top: 10px;

 
}
  
/* left side
 */
 .experience-2 {
  margin-left: -950px;
  max-width: 445px;
}
.experience-2 h2{
  white-space: nowrap;
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
}
.experience-2 p{
  white-space: nowrap;
  font-size: 20px;
  font-weight: bold;
}
.experience-2 h3{
  white-space: nowrap;
  margin-top: 10px;
}
